In [1]:
import pandas as pd
import string
train_data = pd.read_excel('Data_Train.xlsx')
train_data.head()

                                               STORY  SECTION
0  But the most painful was the huge reversal in ...        3
1  How formidable is the opposition alliance amon...        0
2  Most Asian currencies were trading lower today...        3
3  If you want to answer any question, click on ‘...        1
4  In global markets, gold prices edged up today ...        3

In [8]:
#Apply this at the end
# train_data['length'] = train_data.STORY.apply(len)

In [2]:
train_data.head()

                                               STORY  SECTION
0  But the most painful was the huge reversal in ...        3
1  How formidable is the opposition alliance amon...        0
2  Most Asian currencies were trading lower today...        3
3  If you want to answer any question, click on ‘...        1
4  In global markets, gold prices edged up today ...        3

In [10]:
#convert all text to lower case
train_data.STORY = train_data.STORY.apply(lambda x:x.lower())

In [11]:
unwanted_list=[]

for data in train_data.STORY:
    for x in data:
        if x.isalpha() or x == ' ' or x in string.punctuation or x.isnumeric():
            pass
        else:
            if x not in unwanted_list:
                unwanted_list.append(x)
                
len(unwanted_list)

79

In [12]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [13]:
train_data.SECTION.value_counts()

1    2772
2    1924
0    1686
3    1246
Name: SECTION, dtype: int64

In [14]:
import nltk

In [15]:
from nltk.corpus import stopwords

In [16]:
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno 8] nodename
[nltk_data]     nor servname provided, or not known>

False

In [17]:
english_stop_words = stopwords.words('english')

In [18]:
english_stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [19]:
train_data.duplicated().sum()

77

In [20]:
train_data.isnull().sum()

STORY      0
SECTION    0
dtype: int64

In [21]:
train_data.head()

                                               STORY  SECTION
0  but the most painful was the huge reversal in ...        3
1  how formidable is the opposition alliance amon...        0
2  most asian currencies were trading lower today...        3
3  if you want to answer any question, click on ‘...        1
4  in global markets, gold prices edged up today ...        3

In [114]:
train_data.iloc[1001]

STORY      verdict zenbook 13 one ergonomic friendly thin...
SECTION                                                    1
length                                                   200
Name: 1004, dtype: object

In [22]:
train_data.drop_duplicates(inplace = True)

In [23]:
#remove stop words
def remove_stopwords(sentence):
    words = [x for x in sentence.split() if x not in english_stop_words]
    return ' '.join(words)

In [24]:
#remove punctuations
import string
def remove_punctuation(sentence):
    words = [x for x in sentence if x not in string.punctuation]
    return "".join(words)

In [25]:
#remove unwanted characters
def remove_unwantedchars(sentence):
    words = [x for x in sentence if x not in unwanted_list]
    return ''.join(words)

In [26]:
#Perform Lemmatization

from nltk.stem.wordnet import WordNetLemmatizer
lemma = WordNetLemmatizer()
def perform_lemmatization(sentence):
    return ' '.join([lemma.lemmatize(x, 'v') for x in sentence.split()])

In [27]:
nltk.download('wordnet')

[nltk_data] Error loading wordnet: <urlopen error [Errno 8] nodename
[nltk_data]     nor servname provided, or not known>

False

In [28]:
for func in [remove_stopwords, remove_unwantedchars, remove_punctuation, perform_lemmatization]:
    train_data.STORY = train_data.STORY.apply(func)

In [29]:
train_data.STORY[2000]

'party campaign tag line phir ek bar modi sarkar modi government more centre modis fiveyear performance include national security front honesty ability take big decisions among issue jaitley tell reporters union minister say promise future government fulfil five year term jaitley join union minister piyush goyal bjp general secretary bhupender yadav among others press conference also release slogans video materials party campaign poor middle class neomiddle class centre bjps electioneer jaitley say take swipe congress not even say word emerge middle class launch manifesto'

In [30]:
train_data['length'] = train_data.STORY.apply(len)

In [115]:
train_data.head()

                                               STORY  SECTION  length
0  painful huge reversal fee income unheard among...        3     539
1  formidable opposition alliance among congress ...        0     108
2  asian currencies trade lower today south korea...        3     271
3  want answer question click answer click answer...        1     335
4  global market gold price edge today disappoint...        3     237

In [32]:
#creating count vectors

from sklearn.feature_extraction.text import CountVectorizer

In [33]:
#Create bag of words dictionary
bow_dict = CountVectorizer().fit(train_data.STORY)

In [34]:
len(bow_dict.vocabulary_)

34904

In [35]:
#Using the bow_dictionary to create count vectors for the cleaned data.
bow = bow_dict.transform(train_data['STORY'])

In [36]:
#Printing the shape of the bag of words model
print(bow.shape)

(7551, 34904)

In [37]:
from sklearn.feature_extraction.text import TfidfTransformer

In [38]:
tf = TfidfTransformer()

In [39]:
x = tf.fit_transform(bow)

In [40]:
x

<7551x34904 sparse matrix of type '<class 'numpy.float64'>'
	with 402985 stored elements in Compressed Sparse Row format>

In [117]:
train_data.shape

(7551, 3)

In [41]:
x.shape

(7551, 34904)

In [42]:
#Train Model
from sklearn.model_selection import train_test_split

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x, train_data.SECTION, test_size = 0.3, random_state = 101)

In [44]:
y_train.shape

(5285,)

<5285x34904 sparse matrix of type '<class 'numpy.float64'>'
	with 281418 stored elements in Compressed Sparse Row format>

## Naive Bayes

In [45]:
from sklearn.naive_bayes import MultinomialNB

In [46]:
model = MultinomialNB().fit(x_train,y_train)

In [47]:
pred_nb = model.predict(x_test)
pred_train_nb = model.predict(x_train)

In [48]:
from sklearn.metrics import accuracy_score

In [49]:
print(accuracy_score(y_train,pred_train_nb))
print(accuracy_score(y_test,pred_nb))

0.9661305581835383
0.9263018534863195

## XGBoost

In [50]:
import xgboost as xgb

In [107]:
xgb_model = xgb.XGBClassifier(max_depth=5, n_estimators=750, subsample=0.7, learning_rate=0.05)

In [108]:
xgb_model.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.05,
       max_delta_step=0, max_depth=5, min_child_weight=1, missing=None,
       n_estimators=750, n_jobs=1, nthread=None,
       objective='multi:softprob', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=0.7, verbosity=1)

In [112]:
pred_xgb = xgb_model.predict(x_test)
pred_train_xgb = xgb_model.predict(x_train)

In [113]:
print(accuracy_score(y_train,pred_train_xgb))
print(accuracy_score(y_test,pred_xgb))

0.9986754966887417
0.9479258605472197

## SVM

In [88]:
from sklearn.svm import SVC

In [127]:
svc = SVC(C=2, gamma = 2, degree = 4, decision_function_shape='ovr').fit(x,train_data.SECTION)

In [128]:
pred_train_svm = svc.predict(x)
#pred_test_svm = svc.predict(x_test)

In [129]:
print(accuracy_score(train_data.SECTION,pred_train_svm))
#print(accuracy_score(y_test,pred_test_svm))

0.9996027016289233

## Random Forest

In [62]:
from sklearn.ensemble import RandomForestClassifier

In [84]:
rf = RandomForestClassifier(n_estimators=100, max_depth=100, max_features=200,n_jobs=-1)

In [85]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=100, max_features=200, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [86]:
pred_train_rf = rf.predict(x_train)
pred_test_rf = rf.predict(x_test)

In [87]:
print(accuracy_score(y_train,pred_train_rf))
print(accuracy_score(y_test,pred_test_rf))

0.9947019867549669
0.943954104148279

In [78]:
pred_train_rf

array([1, 1, 0, ..., 2, 2, 1])

In [73]:
y_train.dtype

dtype('int64')

In [83]:
x_train.shape

(5285, 34904)

## Test Data

In [133]:
test_data = pd.read_excel('Data_Test.xlsx')

In [134]:
test_data.shape

(2748, 1)

In [135]:
test_data.head()

                                               STORY
0  2019 will see gadgets like gaming smartphones ...
1  It has also unleashed a wave of changes in the...
2  It can be confusing to pick the right smartpho...
3  The mobile application is integrated with a da...
4  We have rounded up some of the gadgets that sh...

In [136]:
test_data.STORY = test_data.STORY.apply(lambda x:x.lower())
test_data.head()

                                               STORY
0  2019 will see gadgets like gaming smartphones ...
1  it has also unleashed a wave of changes in the...
2  it can be confusing to pick the right smartpho...
3  the mobile application is integrated with a da...
4  we have rounded up some of the gadgets that sh...

In [137]:
for func in [remove_stopwords, remove_unwantedchars, remove_punctuation, perform_lemmatization]:
    test_data.STORY = test_data.STORY.apply(func)

In [138]:
test_data.head()

                                               STORY
0  2019 see gadgets like game smartphones wearabl...
1  also unleash wave change mcu make sure future ...
2  confuse pick right smartphone yourself segrega...
3  mobile application integrate dashboard confirm...
4  round gadgets show 2018 leave indelible mark o...

In [139]:
test_bow_dict = CountVectorizer().fit(test_data.STORY)

In [140]:
bow_test = test_bow_dict.transform(test_data['STORY'])

In [141]:
x_test = tf.fit_transform(bow_test)

In [142]:
x_test.shape

(2748, 20940)

In [145]:
#Importing the Pipeline module from sklearn
from sklearn.pipeline import Pipeline

#Initializing the pipeline with necessary transformations and the required classifier
pipe = Pipeline([
('bow', CountVectorizer()),
('tf', TfidfTransformer()),
('svm', SVC(C=2, gamma = 2, degree = 4, decision_function_shape='ovr'))])

#Fitting the training data to the pipeline
pipe.fit(train_data['STORY'], train_data['SECTION'])

#Predicting the SECTION 
test_preds_mnb = pipe.predict(test_data['STORY'])

#Writing the predictions to an excel sheet
pd.DataFrame(test_preds_mnb, columns = ['SECTION']).to_excel("predictions.xlsx")